{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
 {% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-play-circle"></i>  <span class="light">Created by</span> Nikita Brazhko
                </a>
            </div>
        {% block menu %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    {% if '/accounts/login/' in request.path %}
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">Главная</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Об одноклассниках</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Возможности</a>
                    </li>
                    {% else %}
                        {% if request.user.is_authenticated %}
                                <li>
                            <a class="page-scroll" href="{% url 'ok_profile' %}">Посмореть информацию из профиля Одноклассников</a>
                        </li>
                            <li>
                            <a class="page-scroll" href="{% url '1' %}">лента</a>
                            <a class="page-scroll" href="{% url '2' %}">список друзей</a>
                            <a class="page-scroll" href="{% url '3' %}">фото</a>
                            <a class="page-scroll" href="{% url '4' %}">группы</a>
                            <a class="page-scroll" href="{% url '5' %}">сообщения</a>
                        </li>
                             <li>
                            <a class="page-scroll" href="{% url 'account_logout' %}">Выйти</a>
                        </li>
                            {% else %}
                                <li>
                            <a class="page-scroll" href="{% url 'account_login' %}">Войти</a>
                        </li>
                            {% endif %}
                    {% endif %}
                </ul>
            </div>
            {% endblock %}
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% block more %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Одноклассники</h1>
                        <p class="intro-text">Веб-приложение<br>Использует Api одноклассников</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Об api одноклассников</h2>
                <p>Одноклассники используют Oauth2 авторизацию. Я использовал документацию <a href="https://apiok.ru/wiki/pages/viewpage.action?pageId=46137373">одноклассников</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
{#                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>#}
{#                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>#}
            </div>
        </div>
    </section>

    <!-- Download Section -->
{#    <section id="download" class="content-section text-center">#}
{#        <div class="download-section">#}
{#            <div class="container">#}
{#                <div class="col-lg-8 col-lg-offset-2">#}
{#                    <h2>Download Grayscale</h2>#}
{#                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>#}
{#                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
     {% block content %}
                <h2>Авторизация и получение информации из одноклассников</h2>
                <p>Выберите способ авторизации</p>
{#                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>#}
{#                </p>#}


    {% endblock %}
            </div>
        </div>
    </section>

    <!-- Map Section -->
{#    <div id="map"></div>#}

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Nikita Brazhko</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/grayscale.js' %}"></script>

 {% endblock %}
 {% block extra_body %}
    {% endblock %}
</body>

</html>