{% extends "account/base.html" %}
{% block more %}{% endblock %}
{#{% block menu %}{% endblock %}#}
{% block content %}
    <h2>Введите название альбома</h2>
    <form style="color: black;">
{{ form.as_p }}
    <input type="submit">
        </form>

{#    {{ account_ok }}#}
{% endblock %}