{% extends "account/base.html" %}
{% block more %}{% endblock %}
{#{% block menu %}{% endblock %}#}
{% block content %}
    <h2>Информация из профиля одноклассников:</h2>
    {% if request.user.socialaccount_set.first.extra_data.pic1024x768 %}
        <img src="{{ request.user.socialaccount_set.first.extra_data.pic1024x768 }}">
    {% endif %}
    <p>Имя: {{ request.user.socialaccount_set.first.extra_data.first_name }}</p>
    <p>Фамилия: {{ request.user.socialaccount_set.first.extra_data.last_name }}</p>

{#    <p>Имя: {{ request.user.socialaccount_set.first.extra_data.first_name }}</p>#}
    <p>Страна: {{ request.user.socialaccount_set.first.extra_data.location.country }}</p>
    <p>Город: {{ request.user.socialaccount_set.first.extra_data.location.city }}</p>
    <p>Возраст: {{ request.user.socialaccount_set.first.extra_data.age }}</p>
    <p>Дата рождения: {{ request.user.socialaccount_set.first.extra_data.birthday }}</p>
{#    <p>Код страны: {{ account_ok.location.countryCode }}</p>#}
{#    <p>Код страны: {{ account_ok.location.countryCode }}</p>#}
{#    <p>Город: {{ account_ok.location.city }}</p>#}
{#    <p>Дата рождения: {{ account_ok.birthday }}</p>#}
{#    <p>Возраст: {{ account_ok.age }}</p>#}
    {% if 'male' in request.user.socialaccount_set.first.extra_data.gender %}
        <p>Пол: Мужской</p>
    {% else %}
        <p>Пол: Женский</p>
    {% endif %}
***********************************************
    {{ account_ok }}
{% endblock %}